.button-base {
  padding: 5px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: 24px;
  transition: all 0.5s;
  cursor: pointer;
}

.button-base:hover {
  background-color: blueviolet;
}

.gallery img {
  width: 200px;
  border: 10px double green;
  cursor: pointer;
  transition: all 0.5s;
}

.gallery img:hover {
  width: 200px;
  border: 10px double rgb(15, 0, 128);
  cursor: pointer;
  transform: scale(1.05);
}

.gallery {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal .box {
  position: relative;
}

.modal img {
  max-width: 90vw;
  max-height: 90vh;
}

.modal .box button {
  border-radius: 50%;
  padding: 5px;
  background-color: red;
  width: 46px;
  color: white;
  font-size: 28px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal .box button:hover {
  background-color: blueviolet;
}
